html,body{
    width: 100%;
    height:100%;
}
body {
    font: 12px arial;
    background:#FFFFFF;
}
body,div,ul,li,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.clearfloat{
    clear: both;
}
#wrapper{
    position: relative;
    min-width: 1200px;
    height: auto;
}


/*头部导航*/
#header{
    width:100%;
    height:60px;
    border-bottom: 1px solid #099E6A;
    box-shadow: 0 2px 3px #9c9c9c;
}
#nav{
    width: 1200px;
    height:100%;
    line-height: 60px;
    margin:0 auto;
    position: relative;
}

#nav #logo-diy{
    display: block;
    float:left;
    width:100px;
    height:100px;
}
#nav #logo-diy .logo{
    position: absolute;
    top:0;
    left:0;
    width:100px;
    height:100px;
    border:0px;
}
#nav .sethome{
    float:left;
    color:white;
    cursor: pointer;
    background:url('../images/index_widthlg.png') no-repeat -20px -152px;;
}

#nav ul.zone li{
    display: inline-block;
    width: 300px;
    position: relative;
    float:left;
    margin-left:30px;
}
#nav ul.zone li a{
    position: relative;
}
#nav ul.zone li a:after{
    position: absolute;
    background: url('../images/index_widthlg.png') no-repeat;
}

#nav .zone .city-weather .a-city:after{
    content: '';
    display: block;
    width: 9px;
    height: 6px;
    top: 7px;
    left: 30px;
    background-position:-52px -97px;
}

#nav .zone .city-weather .a-weather{
    margin-left:60px;
}

#nav .zone .city-weather .a-weather:after{
    width: 26px;
    height: 60px;
    content: '';
    display: block;
    top: -18px;
    left: -30px;
    background: url('../images/a7.png') no-repeat  0 13px;
}

#nav .email .a-email:after{
    width: 26px;
    height: 60px;
    content: '';
    display: block;
    top: -23px;
    left: -30px;
    background-position: -96px -108px;
}
#nav .email .a-email .myemail{
    color:#333;
    font-weight: bold;
}
/*中间部分*/
#content{
    width: 1200px;
    height:auto;
    margin:0 auto;
    position: relative;
}

/*baidu*/
#baidu{
    width: 1200px;
    height:135px;
}
#baidu .search-div{
    width:80%;
    height:100%;
    margin:0 auto;
    position: relative;
}
#baidu .search-div img{
    margin:45px 20px 0 70px;
    display: inline-block;
    float: left;
}
.div-input{
    margin:45px auto;
    width:710px;
    float: left;
}
.float-left{
    float:left;
}
/*提交按钮*/
.btn-submit{
    cursor: pointer;
    width: 100px;
    height: 36px;
    *height:37px;
    *margin-top:1px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border:0;
}
.btn-submit:hover{
    background:#317ef3;
    border: 1px solid #2868c8;
    box-shadow:1px 1px 1px #ccc ;
}
.search-inpt{
    width:539px;
    height:34px;
    *height:35px;
    padding: 0;
    line-height:34px;
    *line-height:35px;
    border:1px solid #B8B8B8;
    border-right-width: 0;
    outline:none;
    font-size:14px;
    text-indent: 10px;
    outline: none;
}
.search-inpt:focus{
    border:1px solid #4791ff;
    border-right: 0;
}

/*中间内容导航*/

#content .mid-nav{
    width: 100%;
    height:40px;
    line-height: 40px;
    border-top:2px solid #099E6A;
    border-bottom:2px solid #EAEAEA;
}

#content .mid-nav ul li{
    display: block;
    width: 100px;
    float: left;
    text-align: center;
    cursor: pointer;
}
#content .mid-nav ul li a{
    display: block;
    color:#333;
    font-size:16px;
    font-weight: bold;
    border-left:1px solid #ddd;
}
#content .mid-nav ul li a:hover{
    color: #118850;
}
#content .mid-nav ul li a.home{
    border:0;
}
#content .mid-nav ul li a.on{
    color:#FFFFFF;
    background-color: #0AA770;
}

/*主要内容展示*/
.main{
    width:100%;
    height:auto;
    margin-top:20px;
}

.middle{
    float:left;
    width: 100%;
}

.inner{
   margin:0 210px;
   height:600px;
   position: relative;
   border:1px solid #AADDBB;
}

.left{
    float: left;
    width: 198px;
    height:600px;
    border:1px solid #CECECE;
    margin-left: -100%;
}

.right{
    float: left;
    width: 198px;
    height:600px;
    border:1px solid #CECECE;
    margin-left:-200px;
}

/*设置*/
.list-title{
    width:100%;
    height:30px;
    line-height: 30px;
    position: relative;
    background-color: #FBFBFB;
    border-bottom:1px solid #CECECE;
}
.list-title span{
    display: inline-block;
    font-size:14px;
    font-weight: bold;
}
.list-title .set-icon{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 33px;
    height: 33px;
    background: url('../images/index_widthlg.png') no-repeat -316px -128px;
    cursor: pointer;
    z-index: 999;
}
/*列表*/
.product li{
    display: block;
    width:180px;
    height:30px;
    line-height: 30px;
    padding-left:10px;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.product li a{
    color:#333;
    font-size: 14px;
    font-weight: bold;
}

.product li a:hover{
    color: #118850;
}

/*玫瑰花*/
canvas{
    float:left;
    width: 600px;
    height: 569px;
}

.heart{
    position: absolute;
    float: left;
    width: 400px;
    height: 400px;
    top: 120px;
    left: 370px;
    color: #1860B2;
}

.love{
    display: block;
    font-weight: bold;
    position: absolute;
    z-index: 9999;
    top: 160px;
    left: 80px;
    line-height: 30px;
    text-indent: 2em;
    letter-spacing: 1px;
    color:#FEC0DE;
}
.chinlove{
    margin-left: 155px;
    font-size: 16px;
    font-weight: bold;
    color: #F699B4;
}
.heart:before,.heart:after{
    position: absolute;
    content: "사랑해요 영원히!";
    color:#1860B2;
    font-size:16px;
    font-weight: bold;
    left: 200px;
    top: 70px;
    width: 200px;
    height: 300px;
    background: #C90C33;
    box-shadow: 6px 6px 15px #C90C33;
    border-radius: 50% 50% 0 0;
    -webkit-border-radius: 50% 50% 0 0;
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.heart:after {
    content: '永遠にあなたを愛している!';
    color:#1860B2;
    font-size:16px;
    left:1px;
    -webkit-transform: rotate(47deg);
    transform: rotate(47deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}


/*图片区域*/
.images-zone{
    width:100%;
    height:250px;
    margin:20px 0 0 0;
    overflow: hidden;
    border:1px solid #CECECE;
}
.images-zone .div-img{
    float:left;
    cursor: pointer;
    margin-left:8px;
    *margin-left:3px;
}
.div-img-0 {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    order: 2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #ccc;
}

.img-0 {
    width: 200px;
    height: 200px;
}


/*怪异盒子*/

.div-img-1 {
    order: 3;
    width: 222px;
    height: 222px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #ccc;
    box-sizing: border-box;
}

.img-1 {
    width: 200px;
    height: 200px;
}

.div-img-2 {
    order: 1;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #ccc;
}

.img-2 {
    width: 200px;
    height: 200px;
}

/*尾部*/
#footer{
    position:relative;
    top:30px;
    width:100%;
    height:80px;
    border-top:1px solid #EFF0F0;
}

.footer-div{
    width:680px;
    margin: 10px auto;
}
.gry-footer{
    color:#999;
}
.div-qrcode{
    float:left;
    width:80px;
    height:60px;
    text-align:left;
}
.div-img-qrcode{
    float:left;
    width:60px;
    height:60px;
}
.div-img-qrcode img{
    width:60px;
    height:60px;
}
.div-qrcode p,.div-baidu-about p{
    margin:10px 0 0 15px;
    font-size:12px;
}
.div-qrcode p b{
    color:#4c4c4c;
}
.div-baidu-about{
    float:left;
    width:400px;
}

.p-footer{
    color:#666;
    line-height:36px;
}