
/* 第一方法：图片背景。制作toolbar */
// $toolbar-size:52px;
// .toolbar-item,.toolbar-layer{
//     background-image: url(../images/toolbar.png);
//     background-repeat: no-repeat;
// }

// .toolbar{
//   position: fixed;
//   left:50%;
//   bottom: 5px;
//   margin-left:-$toolbar-size / 2;
// }

// .toolbar-item{
//   display: block;
//   width:$toolbar-size;
//   height: $toolbar-size;
//   margin-top:1px;
//   position: relative;
//   @include  transition(background-position 1s);
//   &:hover{
//       .toolbar-layer{
//         @include opacity(1);
//         @include scale(1);
//       }
//   }
// }


// .toolbar-item-weixin{
//   @include  toolbar-item(-789px,-860px);
//   .toolbar-layer{
//      height: 212px;
//      background-position: 0 0;
//   }
// }


// .toolbar-item-feedback{
//   @include  toolbar-item(-426px,-488px);
// }


// .toolbar-item-app{
//   @include  toolbar-item(-550px,-612px);
//   .toolbar-layer{
//     height: 194px;
//     background-position: 0 -222px;
//   }
// }


// .toolbar-item-top{
//   @include  toolbar-item(-674px,-736px);
// }


// .toolbar-layer{
//   position: absolute;
//   right: $toolbar-size - 6;
//   bottom: -10px;
//   width: 172px;
//   @include  opacity(0);
//   @include  transform-origin(95% 95%);
//   @include  scale(0.01);
//   @include  transition(all 1s);
// }




/* 
第二种方法：字体图标制作toolbar 
提高性能。
不兼容IE6/7 。
HTML结构复杂
*/
// $toolbar-size:60px;
// .toolbar-item,.toolbar-btn,.toolbar-icon,.toolbar-text{
//   width: $toolbar-size;
//   height:$toolbar-size;
// }

// .toolbar{
//     position:fixed;
//     left:50%;
//     bottom:5px;
//     margin-left: -$toolbar-size / 2;
// }

// .toolbar-item{
//   position:relative;
//   display: block;
//   margin-top:1px;
//   &:hover{
//     .toolbar-icon{
//       top:-$toolbar-size;
//     }
//     .toolbar-text{
//       top:0;
//     }
//     .toolbar-layer{
//       @include  opacity(1);
//       @include  scale(1);
//       @include  transition(all 1s);
//     }
//   }

// }
// .toolbar-btn{
//   position:absolute;
//   left:0px;
//   top:0px;
//   overflow: hidden;

// }
// .toolbar-icon{
//   position:absolute;
//   left:0;
//   top:0;
//   background-color: #d0d6d9;
//   font-size:30px;
//   color:#fff;
//   text-align: center;
//   line-height: $toolbar-size;
//   @include transition(top 1s);
// }
// .toolbar-text{
//   position:absolute;
//   left:0;
//   top:$toolbar-size;
//   background-color: #98a1a6;
//   padding-top:12px;
//   font-size:14px;
//   color:#fff;
//   text-align: center;
//   line-height: 1.2;/*文字间隙*/
//   @include transition(top 1s);
// }
// .toolbar-layer{
//   position:absolute;
//   right: $toolbar-size - 6;
//   bottom:-10px;
//   width:172px;
//   background-image: url(../images/toolbar.png);
//   background-repeat: no-repeat; 
//   @include  opacity(0);
//   @include  transform-origin(95% 95%);
//   @include  scale(0.01);
//   @include  transition(all 1s);
// }

// .toolbar-layer-weixin {
//    height:212px;
//    background-position: 0 0;

// }
// .toolbar-layer-app {
//    height: 194px;
//   background-position: 0 -222px;
// }



/*
 *第三中实现方法
 *
 */
$toolbar-size:60px;
.toolbar {
  position:fixed;
  left:50%;
  bottom:5px;
  margin-left: -$toolbar-size / 2;
}
.toolbar-item {
  position: relative;
  display: block;
  width: $toolbar-size;
  height:$toolbar-size;
  margin-top:1px;
  
  &:hover{
    .toolbar-btn{
        &:before{
          top:-$toolbar-size;
        }
        &:after{
          top:0;
        }
    }
    &:after{
        @include  opacity(1);
        @include  scale(1);
        @include  transition(all 1s);
    }
  }

  &:after{
    content:"";
    position:absolute;
    right:$toolbar-size - 6;
    bottom:-10px;
    width:172px;
    background-image: url(../images/toolbar.png);
    background-repeat: no-repeat; 
    @include  opacity(0);
    @include  transform-origin(95% 95%);
    @include  scale(0.01);
    @include  transition(all 1s);
  }
}
.toolbar-item-weixin {
  &:after{
      content: "";
      height:212px;
      background-position: 0 0;
  }
  .toolbar-btn{
      &:before{
          content: "\e600";
      }
      &:after{
        content: "公众\A账号";
      }
  }
}
.toolbar-item-feedback {
  .toolbar-btn{
      &:before{
          content: "\e601";
      }
      &:after{
        content: "意见\A反馈";
      }
  }
}
.toolbar-item-app {
  &:after{
      content: "";
      height:194px;
      background-position: 0 -222px;
  }
  .toolbar-btn{
      &:before{
          content: "\e603";
      }
      &:after{
        content: "APP\A下载";
      }
  }
}
.toolbar-item-top {
  .toolbar-btn{
      &:before{
          content: "\e602";
      }
      &:after{
        content: "返回\A顶部";
      }
  }
}
.toolbar-btn {
    position:absolute;
    left:0px;
    top:0px;
    width:$toolbar-size;
    height:$toolbar-size;
    overflow:hidden;
    
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;



    &:before{
        //icon
        content:"";
        position:absolute;
        left:0px;
        top:0px;
        width: $toolbar-size;
        height:$toolbar-size;
        background-color:#d0d6d9;
        font-size:30px;
        color:#fff;
        text-align:center;
        line-height: $toolbar-size;
        @include transition(top 1s);
    }

    &:after{
      //text
        content:"";
        position:absolute;
        left:0px;
        top:$toolbar-size;
        width: $toolbar-size;
        height:$toolbar-size;
        background-color:#98a1a6;
        font-size:14px;
        color:#fff;
        padding-top: 14px;
        text-align:center;
        line-height: 1.2;
        @include transition(top 1s);
        white-space: pre;
    }


}