<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>您访问的页面不存在</title>
		<link rel="stylesheet" href="../assets/css/frozen.css" />
	</head>

	<body ontouchstart="" style="background: #fff;">
		<div style="text-align: center;">
			<img src="../assets/images/404.gif" style="position: relative; margin-top:55%;">
				<p class="ui-txt-info" style="margin: 5px 0;">您访问的页面不存在！</p>
		</div>
	</body>
</html>