<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>௵~周の业务管理系统--登录</title>
		<link rel="stylesheet" href="../assets/css/frozen.css" />
	</head>
	<body ontouchstart="">
		<div id='container'></div>
		<script src="../assets/js/libs/react/react.js"></script>
		<script src="../assets/js/libs/react/react-dom.js"></script>
		<script src="../assets/js/libs/zepto.min.js"></script>
		<script src="../assets/js/libs/frozen.js"></script>
    	<script src="../assets/js/login.js"></script>
	</body>
</html>