<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>用户中心-管理员-地区排行</title>
		<link rel="stylesheet" href="../assets/css/frozen.css" />
	</head>

	<body ontouchstart="" class="detail">
		<h2><b>今日全国总业绩：560万</b></h2>
		<ul class="ui-list ui-list-text ui-list-link ui-border-tb ui-list-active" style="height: auto; margin-top: -1px;">
			<li class="ui-border-t">
				<a href="#">
				<b class="ui-nowrap">第1名：成都（125万）</b>
				</a>
			</li>
			<li class="ui-border-t">
				<a href="#">
				<b class="ui-nowrap">第2名：重庆（100万）</b>
				</a>
			</li>
		</ul>
		<h2><b>销售排行榜</b></h2>
		<ul class="ui-list ui-list-text ui-list-link ui-border-tb ui-list-active" style="height: auto; margin-top: -1px;">
			<li class="ui-border-t">
				<a href="#">
				<b class="ui-nowrap">第1名：xx-成都（125万）</b>
				</a>
			</li>
			<li class="ui-border-t">
				<a href="#">
				<b class="ui-nowrap">第2名：xx-成都（125万）</b>
				</a>
			</li>
		</ul>
	</body>

</html>