<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>用户中心-管理员</title>
		<link rel="stylesheet" href="../assets/css/frozen.css" />
	</head>

	<body ontouchstart="" class="detail">
		<div class="topmsg" style="background: #00a5e0;">
			<h1>¥563,000</h1>
			<p>今日全国总业绩</p>
		</div>
		<ul class="ui-list ui-list-text ui-list-active ui-list-link ui-border-tb" style="height: auto; margin-top: -1px;">
			<li class="ui-border-t">
				<h4 class="ui-nowrap"><a href="#">今日共：52单/125万</a></h4>
				<span class="ui-panel-subtitle">今日业绩</span>
			</li>
			<li class="ui-border-t">
				<h4 class="ui-nowrap"><a href="#">本月共：52单/125万</a></h4>
				<span class="ui-panel-subtitle">本月业绩</span>
			</li>
		</ul>
		<h2>数据统计(12-02)</h2>
		<ul class="ui-list ui-list-text ui-list-active ui-list-link ui-border-tb" style="height: auto; margin-top: -1px;">
			<li class="ui-border-t">
				<h4 class="ui-nowrap"><a href="#">地区第一：成都-156万</a></h4>
				<span class="ui-panel-subtitle">查看详情</span>
			</li>
			<li class="ui-border-t">
				<h4 class="ui-nowrap"><a href="#">个人第一：XXX-成都-25万</a></h4>
				<span class="ui-panel-subtitle">查看详情</span>
			</li>
		</ul>
		<h2>个人资料</h2>
		<ul class="ui-list ui-list-text ui-list-link ui-border-tb" style="height: auto; margin-top: -1px;">
			<li class="ui-border-t">
				<h4 class="ui-nowrap">唐三藏</h4>
				<span class="ui-panel-subtitle">真实姓名</span>
			</li>
			<li class="ui-border-t">
				<h4 class="ui-nowrap">管理员</h4>
				<span class="ui-panel-subtitle">职位</span>
			</li>
		</ul>
	</body>
</html>