<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>用户中心-评估师</title>
		<link rel="stylesheet" href="../assets/css/frozen.css" />
	</head>

	<body ontouchstart="" class="detail">
		<div class="topmsg" style="background: #00a5e0;">
			<h1>¥563,000</h1>
			<p>本月评估总量</p>
		</div>
		<div class="ui-tooltips ui-tooltips-warn">
			<div class="ui-tooltips-cnt ui-tooltips-cnt-link ui-border-b">
				<b>待处理评估（2）</b>
			</div>
		</div>
		<ul class="ui-list ui-list-text ui-list-active ui-list-link ui-border-tb" style="height: auto; margin-top: -1px;">
			<li class="ui-border-t">
				<h4 class="ui-nowrap"><a href="#">今日评估车辆（4）</a></h4>
				<span class="ui-panel-subtitle">查看详情</span>
			</li>
			<li class="ui-border-t">
				<h4 class="ui-nowrap"><a href="#">已完成的评估（12）</a></h4>
				<span class="ui-panel-subtitle">查看详情</span>
			</li>
		</ul>
		<h2>个人资料</h2>
		<ul class="ui-list ui-list-text ui-list-link ui-border-tb" style="height: auto; margin-top: -1px;">
			<li class="ui-border-t">
				<h4 class="ui-nowrap">xxx</h4>
				<span class="ui-panel-subtitle">真实姓名</span>
			</li>
			<li class="ui-border-t">
				<h4 class="ui-nowrap">评估师</h4>
				<span class="ui-panel-subtitle">职位</span>
			</li>
			<li class="ui-border-t">
				<h4 class="ui-nowrap">15608071101</h4>
				<span class="ui-panel-subtitle">联系方式</span>
			</li>
		</ul>
	</body>
</html>