<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>用户中心-待处理</title>
		<link rel="stylesheet" href="../assets/css/frozen.css" />
	</head>

	<body ontouchstart="" class="detail">
		<div class="ui-tab" style="padding-bottom: 60px;">
			<ul class="ui-list ui-list-link ui-border-tb ui-list-active" style="height: auto;">
				<li class="ui-border-t">
					<div class="ui-list-img car-logo state-now">
						<img src="../assets/images/b1.jpg">
						<div class="state">
							<p>
								<span>眉山-郑小伟</span>
								<i class="icon-xu">续</i>
								<i class="icon-lao">老</i>
							</p>
							<em>放款中...</em>
						</div>
					</div>
					<div class="ui-list-info">
						<h4>2015款1.4T 双离合天窗说230TSI 25周年纪念版-(15.12万)</h4>
						<h5 class="ui-nowrap"><b style="color: #0066cc;">估值价：¥12万元</b></h5>
					</div>
				</li>
				<li class="ui-border-t ui-list-cover">
					<div class="ui-list-img car-logo state-ok">
						<img src="../assets/images/b1.jpg">
						<div class="state">
							<p>
								<span>眉山-小丽</span>
								<i class="icon-lao">老</i>
								<i class="icon-di">抵</i>
							</p>
							<em>放款完成</em>
						</div>
					</div>
					<div class="ui-list-info">
						<h4>2015款别克君威2.0T自动天窗舒适型纪念版（22.4万）</h4>
						<h5 class="ui-nowrap"><b style="color: #0066cc;">估值价：¥12万元</b></h5>
					</div>
				</li>
			</ul>
		</div>
		<script src="../assets/js/libs/zepto.min.js"></script>
		<script src="../assets/js/libs/frozen.js"></script>
		<script>
			(function() {
				$('.ui-actionsheet').addClass('show');
			})();
		</script>
	</body>

</html>