<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>用户中心-业务员</title>
		<link rel="stylesheet" href="../assets/css/frozen.css" />
	</head>

	<body ontouchstart="" class="detail">
		<div class="topmsg">
			<h1>¥563,000</h1>
			<p>本月销售额</p>
		</div>
		<div class="ui-tooltips ui-tooltips-warn">
			<div class="ui-tooltips-cnt ui-tooltips-cnt-link ui-border-b">
				<b>待处理业务（2）</b>
			</div>
		</div>
		<ul class="ui-list ui-list-text ui-list-active ui-list-link ui-border-tb" style="height: auto; margin-top: -1px;">
			<li class="ui-border-t">
				<h4 class="ui-nowrap"><b><a href="#">本月销售排行榜</a></b></h4>
				<div class="ui-badge">3</div>
			</li>
			<li class="ui-border-t">
				<h4 class="ui-nowrap"><a href="#">今日销售额</a></h4>
				<span class="ui-panel-subtitle">查看详情</span>
			</li>
			<li class="ui-border-t">
				<h4 class="ui-nowrap"><a href="#">已完成（12）</a></h4>
				<span class="ui-panel-subtitle">查看详情</span>
			</li>
		</ul>
		<h2>个人资料</h2>
		<ul class="ui-list ui-list-text ui-list-link ui-border-tb" style="height: auto; margin-top: -1px;">
			<li class="ui-border-t">
				<h4 class="ui-nowrap">白骨精</h4>
				<span class="ui-panel-subtitle">真实姓名</span>
			</li>
			<li class="ui-border-t">
				<h4 class="ui-nowrap">业务经理</h4>
				<span class="ui-panel-subtitle">职位</span>
			</li>
			<li class="ui-border-t">
				<h4 class="ui-nowrap">15608073888</h4>
				<span class="ui-panel-subtitle">联系方式</span>
			</li>
		</ul>
	</body>

</html>